# deps
node_modules/
.pnp.*
.yarn/*

# builds
.next/
out/
dist/
build/
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo/

# prisma generated client
**/src/generated/

# env & secrets
.env
.env.*.local
.env.local

# logs
logs/
*.log
npm-debug.log*

# os / editor
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea/

# docker volume data (if bind-mounted locally)
data/
